/* this page would be great as a grid, during the skin phase */

.checkout {
    display: flex;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    width: 60%;
}


.horizontal-line {
    margin: 1rem 0;
    border-top: 1px solid black;
}

.right {
    display: flex;
    height: 100%;
}

.vertical-line {
    height: 100%;
    border-left: 1px solid black;
}