.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-container {
    display: flex;
    list-style-type: none;
    margin-bottom: 0px;
}

.nav-item {
    margin-right: 10px;
}

.login-button {
    margin-right: 10px;
}

.disabled {
    cursor: default;
    pointer-events: none;
}