.suggestion-list {
    text-align: center;
    padding: 0;
    margin-block: 5;
  }

.suggestion-item{
    width: 20%;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.suggestion-image{
    max-width: 100%;
    height: auto;
}