.suggestion-list {
    text-align: center;
}

.suggestions-title {
    font-size: 1.5rem;
}

.suggestions {
    display: flex;
    gap: 2rem;
}

.suggestion-item {
    padding: 10px;
}

.suggestion-image {
    width: 200px;
    height: 200px;
}

@media (max-width: 550px) {
    .suggestions {
        flex-direction: column;
    }
}